.dashboard-container {
    width: 80%; /* Adjust the width as needed */
    margin: 50px auto; /* Center the container */
    padding: 20px;
    background-color: rgba(233, 232, 232, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: center; /* Center the content */
}
#pieChart {
    width: 100%; /* or specify the width you want */
    height: 300px; /* Set the desired height */
    display: block; /* Ensures proper rendering as a block element */
    margin: 0 auto; /* Center the canvas horizontally if needed */
}

.canvas-container {
    width: 100%; /* Set the width of the container */
    max-width: 500px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #c7c7c779;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #417976;
    color: white;
}

/* Button Styles */
.button {
    background-color: #1f554a;
    color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #085e3e; /* Darker shade on hover */
}

/* Background Styles */
body {
    background-image: url('path/to/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
}

