body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #7abecf94; 
    height: max-content;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: #112e28;
}

#container-bg {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

#bg-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1; 
    filter:blur(8px);
    opacity: 0.75;
}

  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(28, 66, 73); 
    padding-top: 50px;
    color: #ffffff;
}

  .sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    color:aqua;
    
}

  .sidenav a:hover {
    color: #f1f1f1;
}

 .game-title {
    margin-left: 120px;
    padding: 40px;
    color:rgb(254, 255, 254);
    position:relative;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

hr {
  border: none;
  height: 3px; /* Set the height of the line */
  background: linear-gradient(to right, transparent, #97bebe, transparent); /* Set the gradient colors */
  margin: 15px auto; /* Adjust the margin as needed */
  width: 30%;
  align-items: center;
}
  .intro {
    text-align: center;
    color: #effffc;
    font-family:Georgia, serif;
    font-size: large;
    padding: 20px;
    width: 40%;
    margin: 10px auto;
    
}

  .icon {
    margin-right: 10px;
}

.img-content {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
  margin-left: 120px;
  
}

.img-content .card {
	position: relative;
  margin-left: 120px;
  margin-top: 10px;
	width: 400px;
	height: 300px;
	background: rgba(83, 219, 208, 0.377);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(15px);
}

.img-content .card .images {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.img-content .card:hover .images {
	transform: translateY(-20px);
}

.img-content .card .images .imgBx {
	position: relative;
	width: 300px;
	height: 150px;
	overflow: hidden;
}

.img-content .card .images .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-content .card .images .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.img-content .card .images .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.h3 {
  color: #112e28;
  font-family:Verdana, Geneva, Tahoma, sans-serif;


}